body {
    background-color:lightskyblue;
    margin-top: 10px;
}
.text1 {
    color: white;
    text-align: center;
    /* font-stretch: expanded; */
}
#hint,#blanks,#msg,#lives {
    text-align: center;
    color: white;
}
#restart {
    background-color:indigo;
    color: white;
    border-color: indigo;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}
